<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="register">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username"><br>
        <input type="text" name="first name" placeholder="enter your name"><br>
        <input type="email" name="email" placeholder="enter your email"><br>
        <input type="text" name="age" placeholder="enter your age"><br>
        <input type="password" name="password" placeholder="paasword"><br>
        <input type="password" name="password2" placeholder="confirm password"><br>
        <button type="submit" name="submit" style="background-color: blue;color: aliceblue; " >submit</button>
        

    </form>
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
</body>
</html>